*{    
    margin: 0;
    padding: 0;
}
body {
    scroll-behavior: smooth;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}

/* ---------Navigation----------- */

.toggle-button{
    z-index: 999;
    cursor: pointer;
    float: right;
    color: #FFFFFF;
    padding: 6px 18px;
    margin-top: 8px;
    margin-left: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
    font-size: 20px;
}
.container,.nav,.one-four {
    display: flex;
    justify-content: center;
}
ul {
    padding: 26px;
    background-color:  #383E4C;
    z-index: 12;
    position: fixed;
    width: 100%;
    font-size: 20px;
}
li {
    list-style: none;
    margin: 0px 8px;
    letter-spacing: 0.5px;
}
a {
    text-decoration: none;
    padding: 14px 26px;
    border: 1px #646d7c solid;
    color:#f4f4f4
}
a:hover, a:active {
    background: #49505F;
}

/* ---------Section 1----------- */

.imgsection{
    background-image: url('img/img4.jpg');
    width: 100%;
    height: 75vh;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    position: relative;
}
.imgsection .imgtext {
    position: absolute;
    top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #f4f4f4;
}
.imgtext h1{
    font-size: 70px;
    font-weight: 400;
    text-shadow: 2px 2px 0px #000000;
}
.imgtext h2{
    font-size: 26px;
    font-weight: 350;
    text-shadow: 1px 1px 0px #000000;
    letter-spacing: 0.5px;
    padding-top: 8px;
}

/* ---------Section 2 ----------- */

.info-boxes, .info-col {
    margin: auto; 
    padding-top: 70px;
    max-width: 1170px;
}
.box1, .box2, .box3, .col {
    background-color: #f2f2f2;
    margin: 0px 15px;
    padding-bottom: 30px;
    color: #333333;
}
.section2 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
section h2 {
    padding:18px 20px 0px 20px;
    font-size: 20px;
 }
 section p{
    font-size: 14px;
    padding: 20px;
    line-height: 22px;
 }
 .section2 button {
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: none;
    color: #f2f2f2;
}
.section2 span {
    display: flex;
    justify-content: center;
    margin-left: 225px;
}
.section2 .col span a,.colbtn a { 
    padding: 10px 30px;
    border-radius: 10px;
    background:#FFFFFF;
    border:1px #a3a3a3 solid;
    color: #666666;
    font-size: 18px;
    text-decoration: none;
}
.col span a:hover {
    background: #E6E6E6 none repeat scroll 0 0;
}
.col h2{
    color: #666666;
    text-align: center;
    padding-bottom: 10px;
}
.box1 h2{ color: #188A27;}
.box1 button { background: #188A27; }
.box1 button:hover { background: #449D44;}
.box2 h2{ color: #1786C1; }
.box2 button { background: #1786C1; }
.box2 button:hover { background: #31B0D5;}
.box3 h2{ color: #666666; }
.box3 button { background: #842407;}
.box3 button:hover { background: #C9302C;}

/* ---------Section 3----------- */

.sec3-parallax{
    background-image: url('img/bg-2.jpg');
    height: 40vh;
    margin-top: 50px;
}
.sec3-parallax .imgtext{
    text-align: center;
}
.sec3-parallax h2, .sec4-parallax h2{
    font-size: 34px;
    text-shadow: 2px 2px 0px #AAAAAA;
    padding-bottom: 15px;
}
.sec3-parallax p{
    font-size: 18px;
    line-height: 28px;
    padding: 0px 15px;
}
.section3 .box3 a{
    padding: 12px 28px;
    border-radius: 10px;
    background:#FFFFFF;
    border:1px #a3a3a3 solid;
    color: #666666;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
}
.colbtn { 
    display: flex;
    justify-content: center;
}
.section3 .col{
    max-width: 260px;
}
.section3 .info-boxes{
    padding-top: 0px;
}
.section3 .container{
    flex-wrap: wrap;
}
.section3 .col{
    margin-bottom: 30px;
}

/* ---------Section 4 Form----------- */

.sec4-parallax{
    background-image: url('img/bg-3.jpg');
    height: 70vh;
    margin-top: 30px;
}
input,
textarea {
    background-color: rgba(242, 242, 242, 0.4);
    /* background-color: rgba(225, 51, 51, 0.4); */
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    height: 100%;
}
.input-details{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}
.inputdiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    max-width: 700px;
    color: #000000;
}
.inputdiv p{
    background-color: rgba(242, 242, 242, 0.4);
    margin:10px;
    padding: 20px 20px;
    border-radius: 6px;
    font-size: 16px;
}
.input-textarea{
    resize: none;
}
.send-button {
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: none;
    background-color: #000000;
    color: #FFFFFF;
    border: 0.5px #E6E6E6 solid;
}

/* ---------Footer----------- */

footer {
    text-align: center;
    color:#49505F;
}
.footer-content h2 {
    font-size: 32px;
    padding: 25px;
    font-weight: 400;
}
.footer-content p {
    font-size: 14px;
    padding-bottom: 55px;
}
.copyright {
    padding: 35px 0px;
    font-size: 12px;
}

/* --------------Media Queries---------------- */

@media only screen and (max-width: 768px) {
    .toggle-button {
        background: #333333;
        display: block;
        position: fixed;
    } 
    .nav {
        display: none;
        text-align: center;
        cursor: pointer;
        padding: 0;
        margin-top: 7%;
    }
    .nav li{
        margin: 0;
    }
    .nav a{
        padding: 10px 0px;
        display: block;
    }
    .nav.active{
        display: block; 
    }
    .sec1{
        height: 75vh;
    }
    .section2 .container{
        flex-direction: column;
    }
    .section2 .col {
        max-width: 560px;
        margin-bottom: 30PX;
        text-align: center;
    }
    .section2 .info-boxes, 
    .section2 .info-col {
        display: flex;
        align-items: center; 
    }
    .section2 .box1,
    .section2 .box2,
    .section2 .box3{
        max-width: 360px;
        margin-bottom: 30PX;
        text-align: center;
    }
    .section3 .one-four{
        flex-wrap: wrap;
    }
    .inputdiv{
        flex-direction: column;
        max-width: 600px;
        padding: 0 10px;
    }
    .input-details{
        width: auto;
    }
    textarea{
        height:100px;
    }

}
@media only screen and (max-width: 1199px){
    .container{
        margin: auto;
    }
    .section3 .box3{
        display:flex;
        flex-direction:column;
        width:95%;
        margin:auto;
    }
}
@media only screen and (max-width: 991px) {
    .nav {
        font-size: 16px;
    }
    .container{
        margin: auto;
    }
    .col span { margin-left: 0; }
    .section3 .info-col .container {
        flex-direction: column;
    }
}
@media only screen and (max-width: 520px){
    .sec4-parallax {
        height: 100vh;
    }
    input, textarea{
        margin:5px;
    }
}